# This file is used to defined python and django dependencies
# install as python -m pip install -r requirements.txt
Django~=3.1.2
django-resized
pytest==6.2.3
pytest-django==4.2.0
pillow
pytest-xdist==2.2.1
python-box==5.3.0
pytest-mock==3.6.0
pandas==1.3.2
matplotlib==3.4.1

# API
djangorestframework==3.12.4
markdown       # Markdown support for the browsable API.
django-filter~=2.4.0 # Filtering support
coreapi==2.3.3